:root {
  --main: rgb(18, 18, 18);
  --transparent-main: rgb(18, 18, 18, 0.9);
  --second: rgb(250, 250, 250);
  --third: rgb(40, 40, 40);
  --fourth: rgb(131, 131, 131);
  --background: rgb(15, 15, 15);
  --highlight: rgba(15, 15, 15, 0.5);
  --transparent-background: rgba(15, 15, 15, 0.9625);
}

* {
  color-scheme: dark !important;
}

#logo {
  filter: invert(1);
}
